<div ng-controller = "userCtrl" class="jumbotron">
	<h3>Cadastro de Usuário</h3>
	<div class="alert alert-success">
		{{message}}
	</div>
	
	<table class="table table-striped">
		<tr>
			<th>Usuário</th>
			<th>Senha</th>
		</tr>
		<tr ng-repeat="user in users">
			<td>{{user.login}}</td>
			<td>{{user.password}}</td>
		</tr>
	</table>
	<hr/>
	<form name="userForm">
		<input class="form-control" type="text" ng-model="user.login" placeholder="Usuário" ng-required="true"/>
		<input class="form-control" type="password" ng-model="user.password" placeholder="Senha" ng-required="true"/>			
	</form>
	<div class="alert alert-danger" ng-show="userForm.$invalid">
		Por favor, preencha os campos de Usuário e Senha!
	</div>
	<button class="btn btn-primary btn-block" ng-click="addUser(user)" ng-disabled="userForm.$invalid">Salvar</button>
</div>