<div ng-controller = "loginCtrl" class="jumbotron">
	<h3>Acesso</h3>			
	<hr/>
	<div id="msgContainer" style="margin-bottom:20px">
	</div>
	<form name="userForm">
		<input class="form-control" type="text" ng-model="user.login" placeholder="Usu&aacute;rio" ng-required="true"/>
		<input class="form-control" type="password" ng-model="user.password" placeholder="Senha" ng-required="true"/>
	</form>
	<div class="alert alert-danger" ng-show="userForm.$invalid">
		Por favor, preencha os campos de Usu&aacute;rio e Senha!
	</div>
	<button class="btn btn-primary btn-block" ng-click="doLogin(user)" ng-disabled="userForm.$invalid">Entrar</button>			
	<a ui-sref="user" class="btn btn-primary btn-block" role="button">Cadastrar</a>
</div>